## Export Serventias

In [12]:
from pymongo import MongoClient

In [13]:
import pandas as pd

In [14]:
client = MongoClient('mongodb://35.237.232.73:27017/')

In [15]:
db = client["dados_diversos"]
coll = db["mpm_serventias"]

In [16]:
df = pd.DataFrame(list(coll.find({}, {"_id":0})))

In [17]:
# subistitui todos Nan/Null para 0
df = df.fillna(0)

In [18]:
# colunas para converter float to int
columns_convert = ["SEQ_ORGAO", "SEQ_ORGAO_PAI", 
                   "SEQ_CIDADE", "COD_IBGE", "INT_ORDEM_ORGAO", 
                   "QTD_CEDIDOS", "QTD_COMISSIONADO", 
                   "QTD_EFETIVOS", "QTD_ESTAGIARIOS", "QTD_TERCERIADOS", 
                   "QTD_PROC_PENDENTES", "TIP_ENTRANCIA"]

In [19]:
df[columns_convert] = df[columns_convert].astype(int)

In [21]:
df.head()

   SEQ_ORGAO  ... TIP_ENTRANCIA
0          2  ...             3
1          3  ...             3
2          4  ...             3
3          5  ...             3
4          6  ...             3

[5 rows x 24 columns]

### Conexão MySQL

In [22]:
from pandas.io import sql

In [23]:
from sqlalchemy import create_engine

In [28]:
# cria engine para usar no pandas
engine = create_engine('mysql+pymysql://root@35.238.86.130/HACKATHON_CNJ')

### Exportar df to mysql

In [29]:
# EXPORTA O DATAFRAME PARA UMA TABELA NO MYSQL

df.to_sql(con=engine, name='mpm_serventias', if_exists='replace')

### Checar Tabela

In [30]:
df_resultado_serventias = sql.read_sql_table("mpm_serventias", engine)

In [31]:
df_resultado_serventias.head()

   index  SEQ_ORGAO  ... QTD_PROC_PENDENTES  TIP_ENTRANCIA
0      0          2  ...                  0              3
1      1          3  ...                  0              3
2      2          4  ...                  0              3
3      3          5  ...                  0              3
4      4          6  ...                  0              3

[5 rows x 25 columns]